:root{
    --darkblue: #1f2937;
    --pageblue: #3882f6;
    --hoverblue: #2662c3;
    --headerwhite: #f9faf8;
    --textgray: #E5E7EB;
    --nullgray: #6d747d;
    --popupblack: #1D1D1D;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "RobotoBold";
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
} 

@font-face {
    font-family: "RobotoLightItalic";
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
}

/* padding and border are included in the total width and height of an element. */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 77px;
}

/* General */
body{
    margin: 0 auto;
    padding: 0;
}

.btn{
    font-size: 18px;
    font-family: 'RobotoBold', sans-serif;
    height: 40px;
    width: 130px;
    border-radius: 8px;
    color: var(--textgray);
    background-color: var(--pageblue);
    transition: background-color 0.8s ease;
}

.btn:hover{
    transition: background-color 0.8s ease;
    background-color: var(--hoverblue);
}

/* Navigation Bar */
.navbar{
    position: fixed;
    background-color: var(--darkblue);
    width: 100%;
    padding: 0px 200px;
}

.navbar-wrapper{
    margin: 0 auto;
    max-width: 1150px;
}

.header-logo-link{
    text-decoration-line: none;
}

.header-logo{
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    color: var(--headerwhite);
}

.header-logo:hover{
    color: var(--pageblue);
}

.header-link{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--textgray);
    text-decoration-line: none;
}

.header-link:hover{
    color: var(--pageblue);
}

/* Introduction Section */
.intro-section{
    width: 100%;
    background-color: var(--darkblue);
    padding: 120px 200px;
    padding-top: 200px;
}

.intro-wrapper{
    margin: 0 auto;
    max-width: 1150px;
}

.intro-title{
    margin: 0 auto;
    font-family: 'RobotoBold', sans-serif;
    font-size: 48px;
    color: var(--headerwhite);
}

.intro-text{
    margin-top: 5px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--textgray);
}

.intro-button{
    border: none;
}

.intro-image{
    width: 100%;
    height: 240px;
    font-size: 18px;
    font-family: 'Robotobold', sans-serif;
    text-align: center;
    color: var(--textgray);
    background-color: var(--nullgray);
}

/* Information Section */
.info-section{
    margin: 0 auto;
    max-width: 1550px;
    width: 100%;
    padding: 130px 300px;
    padding-top: 0;
}

.info-title{
    margin: 40px;
    font-size: 36px;
    font-family: 'Robotobold', sans-serif;
    color: var(--darkblue);
    text-align: center;
}

.info-entry{
    height: 180px;
    width: 180px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--nullgray);
    text-align: center;
}

.entry-image{
    height: 180px;
    width: 180px;
    border: 5px solid var(--pageblue);
    border-radius: 15px;
}

.entry-caption{
    margin-top: 5px;
    width: 170px;
}

/* Quote Section */
.quote-section{
    background-color: var(--textgray);
}

.quote-wrapper{
    margin: 0 auto;
    max-width: 1550px;
    width: 100%;
    padding: 100px 320px;
}

.quote-text{
    font-family: 'RobotoLightItalic', sans-serif;
    font-size: 36px;
    color: var(--darkblue);
}

.quote-author{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: end;
    padding-right: 40px;
}

/* Call Section */
.call-section{
    margin: 0 auto;
    max-width: 1550px;
    padding: 100px 200px;
}

.call-wrapper{
    padding: 30px 120px;
    background-color: var(--pageblue);
    border-radius: 10px;
}

.call-title{
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    color: var(--headerwhite);
    margin-bottom: 0px;
}

.call-text{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--textgray);
}

.call-button{
    border: 3px solid var(--headerwhite);
}

/* Footer */
.footer-section{
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: var(--darkblue);
}

.footer-text{
    font-size: 18px;
    font-family: 'RobotoBold', sans-serif;
    color: var(--headerwhite);
    text-align: center;
}

/* Popup screen */
.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-wrapper {
    position: relative;
    margin: 350px auto;
    padding: 20px;
    background-color: #1D1D1D;
    color: var(--headerwhite);
    border-radius: 20px;
    transition: all 2s ease;
}

.popup-title {
    margin-top: 0;
    font-size: 32px;
    font-family: 'RobotoBold', sans-serif;
    color: var(--pageblue);
}

.popup-exit {
    position: absolute;
    top: 20px;
    right: 40px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--pageblue);
}

.popup-exit:hover {
    color: var(--hoverblue);
}

.popup-text {
    font-size: 22px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

/* display options above 550px devices */
@media screen and (min-width: 550px) {
    /* Navigation Bar */
    .navbar-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 50px;
    }
    
    .header-link-wrapper{
        display: flex;    
        justify-content: flex-end;
        gap: 30px;
    }

    /* Introduction Section */
    .intro-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .intro-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Information Section */  
    .info-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* Call Section */
    .call-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* Popup Screen */
    .popup-wrapper{
        width: 18%;
        height: 200px;
    }
}